<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>CRUD</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/main.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/d4ba26facd.js" crossorigin="anonymous"></script>
<!-- Thinking of implementing this in the future -->

<!-- <script>
$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	
	// Select/Deselect checkboxes
	var checkbox = $('table tbody input[type="checkbox"]');
	$("#selectAll").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAll").prop("checked", false);
		}
	});
});
</script> -->
</head>
<body>
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Employees</b></h2>
					</div>

					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>

						<!--<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a> -->

					</div>
				</div>
			</div>
			<div class= "flash">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						   {% for msg in messages %}
							  <p>{{msg}}</p>
						   {% endfor %}
					{% endif %}
				{% endwith %}
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>

						<th><!--
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>-->



						</th>
						<th>ID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Address</th>
						<th>Phone</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>

					{% block data %}


					{% endblock %}

				</tbody>
			</table>

			<!-- Pagination -->
			<div class="clearfix">
				<div class="hint-text">Showing page <b>{{ User.page }}</b>  of <b>{{ User.pages }}</b> </div>
				<ul class="pagination">
					<li class="page-item disabled"><a href="{{ url_for('home', page=User.prev_num) }}" class = "btn btn-outline-dark {% if User.page == 1 %}disabled{% endif %}">Previous</a></li>
					{% for page_num in User.iter_pages(left_edge=1, right_edge=1,left_current=1,right_current=2) %}
						{% if page_num %}
							{% if User.page == page_num %}
								<li class="page-item active"><a href="{{ url_for('home', page=page_num) }}" class="page-link">{{ page_num }}</a></li>
							{% else %}
								<li class="page-item"><a href="{{ url_for('home', page=page_num) }}" class="page-link">{{ page_num }}</a></li>
							{% endif %}
						{% else %}
							... 
						{% endif %}
					{% endfor %}


					<li class="page-item"><a href="{{ url_for('home', page=User.next_num) }}" class="page-link {% if User.page == User.pages %}disabled{% endif %}">Next</a></li>
				</ul>
			</div>
		</div>
	</div>        
</div>
<!-- ADD Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action = "{{ url_for('new_user') }}" method= "POST">
				<div class="modal-header">						
					<h4 class="modal-title">Add Employee</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
										
					<div class="form-group">
						<label>Name</label>
						<input type="text" name= "name" class="form-control" required/>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="email" name = "email" class="form-control" required/>
					</div>
					<div class="form-group">
						<label>Address</label>
						<input type="text" name = "address" class="form-control" required/>
					</div>
					<div class="form-group">
						<label>Phone</label>
						<input type="text" name = "phone" class="form-control" required/>
					</div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>


</body>
</html>